/* Provide sufficient contrast against white background */
:root {
  --text: #0b1916;
  --background: #f3fbf9;
  --primary: #3dc8a9;
  --secondary: #93e8d4;
  --accent: #54e6c4;

  --linearPrimarySecondary: linear-gradient(#3dc8a9, #93e8d4);
  --linearPrimaryAccent: linear-gradient(#3dc8a9, #54e6c4);
  --linearSecondaryAccent: linear-gradient(#93e8d4, #54e6c4);
  --radialPrimarySecondary: radial-gradient(#3dc8a9, #93e8d4);
  --radialPrimaryAccent: radial-gradient(#3dc8a9, #54e6c4);
  --radialSecondaryAccent: radial-gradient(#93e8d4, #54e6c4);
}

body {
  background-color: var(--background);
  color: var(--text)
}