.welcomeTitle {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.loginTile {
    background: var(--linearPrimarySecondary);
    border-radius: 15px;
    align-items: center;
    box-shadow: 5px 5px 10px #6aa598;
    margin: 0 auto 1em auto;
    width: 25vw;
    min-width: 300px;
}