.welcomeTitle {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.signupTile {
    background: var(--linearPrimarySecondary);
    width: 25vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
    color: var(--text);
    box-shadow: 5px 5px 10px black;
}